body {
    margin-left: auto;
    margin-right: auto;
}

/* styling for header */

table,
tr,
td {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.image-brd {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin-left: auto;
    margin-right: auto;
}

.nama {
    font-size: 28px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

span {
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blue;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}

.desc {
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* until here */

/* for head post and tagged */
.head{
    text-align: center;
}

li{
    display: inline;
    padding: 10px;
}

.post{
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tagged{
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(160, 160, 160);
}

/* until here */

/* styling for postionga */
.postingan img {
    width: 250px;
    height: 250px;
    padding: 20px;
    border-radius: 30px;
}
/* Until Here */

.container {
    position: relative;

}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover .image {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

.text {
    background-color: transparent;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}
